<section class="absolute inset-0 flex justify-center items-center z-50 bg-opacity-50 transition-all duration-300 ease-in-out"
    [ngClass]="{ 'opacity-0 pointer-events-none': !modalService.isVisivel('modalDemandasOrientador'), 'opacity-100': modalService.isVisivel('modalDemandasOrientador') }">

    <!-- Modal background (overlay) -->
    <div class="fixed inset-0 bg-black bg-opacity-30 z-10" (click)="fecharModal()"></div>

    <!-- Modal content -->
    <div class="bg-white overflow-hidden rounded-lg shadow-lg z-20 flex flex-col space-y-6 w-[1000px] p-6 text-[#313131] dark:bg-[#2b2b2b] dark:text-white">
        <div class="flex justify-between items-center border-b pb-2">
            <h2 class="text-lg font-semibold">Nova Tarefa / Detalhes da Tarefa</h2>
            <button (click)="fecharModal()" class="text-gray-500 hover:text-gray-700">&times;</button>
        </div>

        <!-- Div principal flex horizontal -->
        <div class="flex space-x-6 mt-4">
            <!-- Título e Descrição em blocos verticais -->
            <div class="flex flex-col space-y-4 w-1/2">
                <div>
                    <div class="flex flex-row items-center gap-1">
                      <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 2.02857V1H9.55556V2.02857M4.88889 1V13M2.55556 13H7.22222M8.77778 7.17143V6.14286H15V7.17143M11.8889 6.14286V13M10.7222 13H13.0556" stroke="#828282" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                      <label class="block text-lg font-medium text-gray-700">Título</label>
                  </div>
                  <input type="text" formControlName="titulo" class="w-full border rounded-lg p-2 mt-1" placeholder="Digite o título...">
                </div>

                <div>
                  <div class="flex flex-row items-center gap-1">
                    <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1H9M1 4.33333H13M1 7.66667H9M1 11H13" stroke="#828282" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <label class="block text-lg font-medium text-gray-700">Descrição</label>
                  </div>
                  <textarea formControlName="descricao" class="w-full border rounded-lg p-2 mt-1 h-56" placeholder="Digite a descrição..."></textarea>
                </div>
            </div>

            <!-- Campos Prioridade, Status, Classificação e Prazo em flexbox (lado a lado) -->
            <div class="flex flex-col space-y-4 w-1/2">
                <!-- Prioridade -->
                <div>
                    <div class="flex items-center gap-2">
                        <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1222 14.645C13.466 15.6911 12.5512 16.5504 11.4662 17.14C10.387 17.7256 9.17374 18.0196 7.9462 17.993C6.8006 18.0442 5.66136 17.7968 4.6402 17.275C3.61335 16.7498 2.7387 15.9695 2.1002 15.009C-0.571804 10.439 2.3872 6.163 2.9872 5.341C3.52014 4.77075 3.89365 4.07029 4.0702 3.31C4.24785 2.54682 4.22268 1.75044 3.9972 1C5.2812 1.965 10.4272 4.258 9.5222 11.631C11.0182 10.495 12.2222 8.585 12.3682 5.415C13.7982 6.476 16.3532 10.877 14.1222 14.645Z" stroke="#828282" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <label class="block text-lg font-medium text-gray-700">Prioridade</label>
                    </div>
                    <app-single-select
                    [items]="prioridades"
                    [(ngModel)]="demandasOrientador.prioridade"
                    (selectionChange)="atualizarSelecionadosPrioridade($event)"
                    placeholder="Escolha a Prioridade">
                    </app-single-select>
                </div>

                <!-- Status -->
                <div>
                    <div class="flex items-center gap-2">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1V13.5C1 13.721 1.0878 13.933 1.24408 14.0893C1.40036 14.2455 1.61232 14.3333 1.83333 14.3333H14.3333M4.33333 11L6.41667 6.41667L8.91667 8.91667L12.0608 3.5L14.3333 5.7225" stroke="#828282" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <label class="block text-lg font-medium text-gray-700">Status</label>
                    </div>
                    <app-single-select
                    [items]="status"
                    [(ngModel)]="demandasOrientador.status"
                    (selectionChange)="atualizarSelecionadosStatus($event)"
                    placeholder="Escolha o status">
                    </app-single-select>
                </div>

                <!-- Classificação -->
                <div>
                    <div class="flex items-center gap-2">
                        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.4408 1H13M4.4408 6H13M4.4408 11H13M1.00856 1H1.01712M1 6H1.00856M1.00856 11H1.01712" stroke="#828282" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        <label class="block text-lg font-medium text-gray-700">Classificação</label>
                    </div>
                    <app-multi-select
                        [items]="classificacoes"
                        [(ngModel)]="demandasOrientador.classificacao"
                        (selectionChange)="atualizarSelecionadosClassificacao($event)">
                    </app-multi-select>
                </div>

                <!-- Prazo -->
                <div>
                    <div class="flex items-center gap-2">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 6.25H15M8 3.625V1M3.625 3.625V1M12.375 3.625V1M1.875 15H14.125C14.3571 15 14.5796 14.9078 14.7437 14.7437C14.9078 14.5796 15 14.3571 15 14.125V3.625C15 3.39294 14.9078 3.17038 14.7437 3.00628C14.5796 2.84219 14.3571 2.75 14.125 2.75H1.875C1.64294 2.75 1.42038 2.84219 1.25628 3.00628C1.09219 3.17038 1 3.39294 1 3.625V14.125C1 14.3571 1.09219 14.5796 1.25628 14.7437C1.42038 14.9078 1.64294 15 1.875 15ZM4.5 8.875H4.50875V8.88375H4.5V8.875ZM8 8.875H8.00875V8.88375H8V8.875ZM11.5 8.875H11.5088V8.88375H11.5V8.875ZM4.5 12.375H4.50875V12.3838H4.5V12.375ZM8 12.375H8.00875V12.3838H8V12.375ZM11.5 12.375H11.5088V12.3838H11.5V12.375Z" stroke="#828282" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <label class="block text-lg font-medium text-gray-700">Prazo</label>
                    </div>
                    <input type="date" formControlName="prazo" class="w-full border rounded-lg p-2 mt-1">
                </div>
            </div>
        </div>

        <!-- Botões de ação -->
        <div class="flex justify-between items-center mt-6">
            <button class="flex items-center gap-2 px-4 py-2 rounded-lg bg-gray-100">
                <span class="text-gray-700">&#128276; Ativar Alertas</span>
            </button>
            <div class="flex gap-2">
                <button class="px-4 py-2 bg-gray-300 rounded-lg">Cancelar</button>
                <button class="px-4 py-2 bg-green-500 text-white rounded-lg" >Salvar</button>
            </div>
        </div>
    </div>
</section>
